<div id="checklist">
  <h2 alt="edit">Editing <%= @checklist.name %> Checklist</h2>

  <%= render :partial => 'form' %>
</div>

<script>
  $(document).ready(function() {
    // make sidebar item appear selected
    $("#sidebar li a.checklist_template_configuration").parent().addClass("selected");
  });
</script>