<div id="device">
  <h2>Edit <%= @device.service_tag %></h2>
  <%= render :partial => 'form' %>
</div>

<p><b>>></b> <%= link_to "Delete this device, #{@device.identifier}.", url_for(@device), :confirm => "Are you sure you want to delete this Device?", :method => :delete %></p>