table#questions td.edit, table#questions th.add {text-align:center;width:30px;}
table#questions td.answer_type, table#questions th.answer_type {text-align:center;}
table#questions td.question {padding-left:5px;}