#client {padding:1em 2em;}

/* name and face */
#client div.mugshot {display:block;height:60px;width:55px;background-color:#bbb;}
#client h2.fullname {position:absolute;top:5px;left:90px;margin:0;padding:0;}
#client h3.company_name {position:absolute;top:2.5em;left:90px;margin:0;padding:0;}

/* client_content */
#client_content {margin-top:1em;}

/* Details */
div#details table tr td.context, #details table tr th.context {padding-left:.5em;width:120px;}
div#details table tr td.add, #details table tr th.add {padding-left:.5em;width:15px;}

/* form */
div#names {margin:0 0 1.5em 0;}
div#details.edit table tr td.context, #details.edit table tr th.context {padding-left:0;}
div.edit h2 {font-size:13pt;margin:0;}
div.edit h3 {font-size:11pt;margin:0;}
h2.person_name input {font-size:13pt;width:220px;}
h2.company_name input {font-size:13pt;width:400px;margin-bottom:10px;}
h3.company_select select {font-size:11pt;}
h3.is_a_company {}