div#search {background-color:#bbb;height:3em;}
div#search form {margin:0 0 0 1.4em;padding:.6em 0;font-size:1.2em;}
div#search input.search_box {width:40%;}
div#search a.new_client {position:absolute;right:1.4em;top:4.7em;padding:.2em 1em;background-color:#ccc;border:1px solid #333;color:#333;text-decoration:none;-moz-border-radius:3px;-webkit-border-radius:3px;}

div#clients {}
div#clients table {border-style:hidden;margin:0;width:100%;}
div#clients table th, div#clients table td {border-style:hidden;margin:0;padding:.3em;}
div#clients table th.first, div#clients table td.first {padding-left:1.7em;}
div#clients table tr th {text-align:left;background-color:#ddd;}
div#clients table tr:hover {background-color:#eee;}

div#client {padding:0 1.7em;}
div#client form {position:relative;left:-100px;}
div#client div#picture {position:absolute;background-color:#333;width:80px;height:80px;display:block;}
div#client h2 {margin:1em 0 0 100px;font-size:1.5em;}
div#client h3 {margin:.5em 0 0 100px;font-size:1.2em;font-weight:normal;}
div#client h2 input {width:10em;padding:2px .2em;}
div#client h3 input {width:10em;padding:0 .2em;}
div#client h3 select {width:20.6em;padding:0 .2em;}
div#client h2.company_name input {width:21em;}
div#client div#details {position:absolute;top:17em;}
div#client div#details table {margin-bottom:2em;}
div#client div#details table tr {}
div#client div#details table tr td {border-width:0px;}
div#client div#details table tr td.edit {width:20px;padding:0;margin:0;}
div#client div#details table tr td.context {width:66px;padding:0;margin:0;text-align:right;font-weight:bold;color:#aaa;font-size:1.1em;}
div#client div#details table tr td.content {padding:0 0 0 4px;margin:0;font-size:1.1em;color:#000;}
div#client a.edit {padding:.2em 1em;background-color:#ccc;border:1px solid #333;color:#333;text-decoration:none;-moz-border-radius:3px;-webkit-border-radius:3px;}

div#client form {margin:2em 0 0 100px;}
div#client form div#details {margin-top:-8em;}
div#client div#details table tr td.context select, div#client div#details table tr td.context {text-align:right;width:80px;}
div#client div#details table tr td input, div#client div#details table tr td img {margin-bottom:0;}

div#client div#details table tr td.black {color:#000;}
div#client div#details table tr td.gray {color:#aaa;}

div#client_notes {position:absolute;top:7em;left:50%;}
form div#client_notes {}
form div#client_notes textarea {width:500px;}
div#client_notes h2.note {font-size:1.5em;margin-bottom:.4em;color:#aaa;}
form div#client_notes h2 {font-size:1.5em;margin-top:1.15em;}

.blur {color:#ccc;}