/* sidebar */

/* tickets */
#tickets {}
#tickets table a {display:block;}
.first {text-align:center;}

/* Sidebar icons */

#sidebar .open {background:url("../images/icons/tag_red.png") no-repeat 0px 2px;}
#sidebar .scheduled {background:url("../images/icons/tag_blue.png") no-repeat 0px 2px;}
#sidebar .completed {background:url("../images/icons/tag_orange.png") no-repeat 0px 2px;}
#sidebar .all {background:url("../images/icons/tag_green.png") no-repeat 0px 2px;}
#sidebar .archived {background:url("../images/icons/tag_yellow.png") no-repeat 0px 2px;}

/* ticket */
#ticket {margin:0 1em;padding:1.5em 0 0 0;}
#ticket table.details {position:absolute;right:1.5em;top:1em;}
#ticket div.description {width:50%;min-height:5em;}
div#ticket_entries {margin:1em;}
div.ticket_entry {border-top:1px solid #ddd;padding:5px;}
.ticket_entry:hover {background-color:#d4dde6;}
.ticket_entry_details {font-size:8pt;line-height:8pt;}
.ticket_entry_byline {font-size:8pt;margin-left:55px;line-height:8pt;}
.ticket_entry_mugshot {float:left;display:block;margin-right:5px;width:50px;height:50px;background-color:#eee;}
.ticket_entry_note {margin-left:1em;padding-top:1.5em;}

.new_ticket_entry_note {margin-left:50%;}
.new_ticket_entry_note textarea {width:80%;height:6em;}
div.ticket_entry {position:relative;}
div.delete_button {position:absolute;top:10px;right:10px;}

/* new ticket form */
table.m tr td.first {width:8em;}
input#ticket_active_on {width:8em;}

/* devices details pop up */

/* Search box */
#applesearch .sbox input {width:300px;}