/* sidebar */

/* tickets */
#tickets {}
#tickets table a {display:block;}
.first {text-align:center;}

/* Sidebar icons */

#sidebar .open {background:url("../images/icons/tag_red.png") no-repeat 0px 2px;}
#sidebar .scheduled {background:url("../images/icons/tag_blue.png") no-repeat 0px 2px;}
#sidebar .completed {background:url("../images/icons/tag_orange.png") no-repeat 0px 2px;}
#sidebar .all {background:url("../images/icons/tag_green.png") no-repeat 0px 2px;}
#sidebar .archived {background:url("../images/icons/tag_yellow.png") no-repeat 0px 2px;}

/* ticket */
#ticket {margin:0 1em;padding:1.5em 0 0 0;}
#ticket table.details {position:absolute;right:1.5em;top:3.8em;}
#ticket div.description {width:50%;min-height:5em;}
div#ticket_entries {margin:1em;}
div.ticket_entry {position:relative;border-top:1px solid #ddd;padding:5px;}
.ticket_entry:hover {background-color:#d4dde6;}
.ticket_entry_details {font-size:10pt;line-height:8pt;}
.ticket_entry_byline {font-size:10pt;margin-left:55px;line-height:8pt;color:#666;}
.ticket_entry_mugshot {float:left;display:block;margin-right:5px;width:50px;height:50px;background-color:#eee;}
div.ticket_entry_note {float:left;width:65%;}
div.ticket_entry_parts {margin-left:70%;padding-top:5px;padding-bottom:5px;background-color:#fbfbfb;}
div.ticket_entry_bottom {clear:both;}

td.new_ticket_entry_note {width:70%;}
td.new_ticket_entry_note textarea {width:100%;height:6em;}
td.new_ticket_entry_parts {width:30%;}
td.new_ticket_entry_parts textarea {width:100%;height:6em;}
div.ticket_entry {position:relative;}
div.delete_button {position:absolute;top:10px;right:10px;}
div.edit_button {position:absolute;top:10px;right:30px;}

/* new ticket form */
table.m tr td.first {width:8em;}
input#ticket_active_on {width:8em;}

/* devices details pop up */

/* Search box */
#applesearch .sbox input {width:300px;}
div#user_select {position:absolute;top:3px;right:1em;}