<% new_or_existing = address.new_record? ? 'new' : 'existing' %>
<% prefix = "client[#{new_or_existing}_address_attributes][]" %>
<% fields_for prefix, address do |f| -%>
  <tr class="address">
    <td class="edit"><%= link_to_function image_tag("/images/delete.png"), "$(this).up(index = 1).remove()" %></td>
    <td class="context"><%= f.select :context, ["Home","Work","Other"] %></td>
    <td class="content"><%= f.text_field :full_address %></td>
  </tr>
<% end -%>
