<div id="devices">
  <ul class="toolbar">
    <li><a href="#" class="new_device">New</a></li>
  </ul>
  <div id="new_device_form" class="hide toolbox">
    <%= render :partial => 'shared/new_device', :locals => {:client => @client} %>
  </div>
  <table class="itu">
    <tr><th>Name</th><th>Service Tag</th><th>Last Updated</th></tr>
    <% @client.devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, "/devices/#{device.id}" %></td>
        <td><%= link_to device.service_tag, "/devices/#{device.id}" %></td>
        <td><%= link_to device.updated_at.strftime("%m/%d/%Y"), "/devices/#{device.id}" %></td>
      </tr>
    <% end %>
  </table>
</div>