<div id="client">
  <h2>Suite Statistics</h2>
  <p>Total Number of Clients: <%= total_clients %></p>
  <p>Total Number of Open Tickets: <%= total_open_tickets %></p>
  <p>Total Number of Archived Tickets: <%= total_archived_tickets %></p>
  <p>Hours Billed This Week: <%= hours_billed_this_week %></p>
</div>