<div id="client">
  <h2 edit="edit">New Client</h2>

  <div id="client_content">
    <ul>
      <li class="ui-tabs-nav-item"><a href="#edit" title="details">Edit</a></li>
    </ul>
    <div id="edit">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>