<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#">Back</a>
  <a id="blueButton" class="button" href="/iphone/" target="_self">Home</a>
</div>
<ul id="home" title="Suite" selected="true">
  <li><a href="/iphone/clients/">Clients</a></li>
  <li><a href="/iphone/tickets/">Tickets</a></li>
  <li><a href="/iphone/devices/">Devices</a></li>
</ul>