<div id="clients">
  <div class="toolbar">
    <h1>Search Results</h1>
    <a class="back button" href="#client_search">Back</a>
    <a class="button" id="infoButton" href="#home">Home</a>
  </div>
  <ul class="edgetoedge">
    <% @clients.each do |client| %>
      <li><a href="/iphone/clients/<%= client.id %>"><%= client.lastfirst %></a></li>
    <% end %>
  </ul>
</div>