<div id="devices">
  <div class="toolbar">
    <h1>Search Results</h1>
    <a class="back button" href="#device_search">Back</a>
    <a class="button" id="infoButton" href="#home">Home</a>
  </div>
  <ul class="edgetoedge">
    <% @devices.each do |device| %>
      <li>
        <a href="/iphone/devices/<%= device.id %>">
          <span><%= device.service_tag %></span>
          <table>
            <tr><td>Name:</td><td><%= device.name %></td></tr>
            <tr><td>Client:</td><td><%= device.client.fullname %></td></tr>
          </table>
        </a>
      </li>
    <% end %>
  </ul>
</div>