<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Suite</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="apple-touch-icon" href="/images/iphone-sabretech-swords.png" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <%= javascript_include_tag "iui-modified" %>
		<%= stylesheet_link_tag "iui", :media => "screen" %>
    <script>
    </script>
    <style>
      /* General List CSS */
      /* Ticket List CSS */
      ul.tickets > li {position:relative;}
      ul#ticketHome > li > a > span {position:absolute;top:5px;right:30px;padding:3px 10px;background-color:#999;-webkit-border-radius: 12px;-moz-border-radius: 12px;}
      ul#ticketList > li > a {font-size:12px;}
      ul#ticketList > li > a > table {color:#999;}
      /* General Panel CSS */
      span.overflow {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width:175px;}
      .panel > div.textbox {position: relative;margin: 0 0 20px 0;padding: 0 20px;background: #FFFFFF;-webkit-border-radius: 10px;-moz-border-radius: 10px;border: 1px solid #999999;text-align: left;font-size: 16px;}
      .panel > div.textbox hr {}
      /* Ticket Panel CSS */
      div.ticket_entry {position:relative;border-bottom:1px solid #999;margin-top:20px;padding-top:50px;}
      div.ticket_entry:last-child {border-bottom:none !important;}
      div.ticket_entry img {position:absolute;top:0;left:0;}
      div.ticket_entry span.byline {font-size:12px;position:absolute;top:0;left:65px;}
      div.ticket_entry span.te_details {font-size:12px;position:absolute;top:20px;left:65px;}
      div.ticket_entry div.te_note {font-size:14px;}
      div.ticket_entry h3.te_parts {font-size:16px;}
      div.ticket_entry div.te_parts {font-size:14px;}
      .ticket > fieldset > div.row > span {padding: 12px 10px 0 80px;}
      /* Client Panel CSS */
      div.client > div#clientHeader {position:relative;height:80px;}
      div.client > div#clientHeader > img {}
      div.client > div#clientHeader > h2#fullname {position:absolute;top:0px;left:60px;font-size:18px;color:#333;margin:0;padding:0;}
      div.client > div#clientHeader > h3#company {position:absolute;top:25px;left:60px;font-size:14px;color:#666;margin:0;padding:0;}
    </style>
	</head>
	<body onclick="console.log('Hello', event.target);">
    <%= yield %>
	</body>
</html>