<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Suite Login</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="apple-touch-icon" href="/images/iui/iui-logo-touch-icon.png" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <%= stylesheet_link_tag "iui", :media => "screen" %>
	</head>
	<body>
    <div class="toolbar">
      <h1 id="pageTitle">Suite</h1>
      <a id="backButton" class="button" href="#"></a>
    </div>
	  <%= yield :layout %>
	</body>
</html>